@import "base/mixins";
@import "base/variables";
@import "base/media";
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e7e7e7;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    
}
@import 'blocks/header';
@import 'blocks/city';
@import 'blocks/main_info';
@import 'blocks/about_city';
@import 'blocks/city_visit';
@import 'blocks/place';
@import 'blocks/footer';